@{
    ViewBag.Title = "About";
}
<style>
    h4 {
        margin-top: -20px;
        margin-bottom: 40px;
        color: darkcyan;
    }
    h5{
        color:darkgreen;
    }
</style>
<div class="container  jumbotron col-md-8 offset-md-2" >

    <h4 class="text-center">حول موقعنا</h4>
    <h5>نبذة عن مواقع التوظيف :</h5>

    <p>موقع التوظيف هو موقع ويب يتعامل بشكل خاص مع التوظيف أو الوظائف.
    تم تصميم العديد من مواقع التوظيف للسماح لأصحاب العمل بنشر متطلبات الوظيفة
    لشغل منصب وهي معروفة باسم لوحات الوظائف. تقدم بعض مواقع التوظيف الأخرى مراجعات
    لأصحاب العمل، ونصائح وظيفية للباحثين عن عمل، وتصف هذا المواقع أوصاف 
    الأعمال المختلفة وطبيعة صناعة أرباب عمل. من خلال موقع التوظيف، يمكن للموظف 
    المحتمل إختيار وظيفة وملء طلب توظيف أو تقديم السير الذاتية عبر الإنترنت للوظيفة المعلن عنها .</p>

    <h5> من نحن :</h5>
    <p> موقع للوظائف وهو صلة الوصل بين الباحثين عن عمل وأصحاب العمل
    الذين ينوون التوظيف. كل يوم، يقوم أهم أصحاب العمل في
    المنطقة بإضافة آلاف الوظائف الشاغرة على المنصة.</p>
    </div>