@{
    ViewBag.Title = "Contact";
}

<style>
  h4{
      margin-top:-20px;
      margin-bottom:40px;
      color: darkcyan;
  }
  a{
      color:black;
  }
</style>
<div class="container col-md-7 jumbotron text-center">

    <h4>تواصل معنا عبر الارقام التالية :</h4>

    <table class="col-md-5 offset-md-2">

        <tr>
            <td>
                <strong>أرقام التلفون : </strong>
            </td>
            <td>
                01515153145
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                06652656265
                <hr />
            </td>
        </tr>

        <tr>
            <td>
                <strong>الدعم : </strong>
            </td>
            <td>
                <a href="https://accounts.google.com/">Support@gmail.com</a>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <a href="https://outlook.live.com/">job@hotmail.com</a>
            </td>
        </tr>
    </table>
    <br />   <br />
    <table class="col-md-7 offset-md-2">
        <tr>
            <td>
                <a href="https://www.instagram.com/"> instgram<img src="~/Images/sd.png" width="22" height="22"></a>
            </td>
            <td>
                <a href="https://www.facebook.com/"> facebook<img src="~/Images/ss.png" width="22" height="22"></a>
            </td>
            <td>
                <a href="https://twitter.com/"> twitter<img src="~/Images/logo.png" width="30" height="25"></a>
            </td>
        </tr>
    </table>
</div>